####
# File requirements.txt:
#
# This file provides the python requirements for the F prime GDS package. This file unifies
# both the Python 2 and Python 3 requirements. It can be installed in the local python environment
# using the following command:
#
# ```
# pip install -r ./requirements.txt
# ```
pytz
wxPython
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=9.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
